<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Privacy Policy</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Configuration</a></li>
                    <li class="breadcrumb-item active">Privacy Policy</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <p class="text-right m-0 mt-2 mx-3"> Last Updated:- <span class="font-weight-bold">{{lastUpdated}}</span></p>
            <form [formGroup]="configForm" (ngSubmit)="updateConfiguration()">
                <div class="card-body">
                    <angular-editor formControlName="privacy_policy" [config]="editorConfig"
                    >{{configData}}</angular-editor>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
