<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>All Products</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Product</a></li>
                    <li class="breadcrumb-item active">All Products</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">

            <div class="card-body">
                <div class="dataTables_wrapper dt-bootstrap4">
                    <table datatable [dtTrigger]="dtTrigger" class="table table-bordered table-hover dataTable dtr-inline">
                        <thead>
                          <tr>
                            <th>SL No</th>
                            <th>Name</th>
                            <th>Short Description</th>
                            <th>Status</th>
                            <th>Last Updated</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let element of productData;let i = index" class="table-row">
                            <td>{{i+1}}</td>
                            <td>{{element.NAME}}</td>
                            <td>{{element.SHORT_DESCRIPTION}}</td>
                            <td [ngClass]="[element.STATUS === 'SHOW' ? 'text-success' : 'text-danger']">{{element.STATUS}}</td>
                            <td>{{ formatDate(element.UPDATED_AT) }}</td>
                            <td>
                                <button class="btn btn-warning">Edit</button>
                            </td>
                          </tr>     
                        </tbody>
                      </table>                  
                </div>

            </div>
            <!-- /.card-body -->
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
