<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Settled Transactions</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Settled</a></li>
                    <li class="breadcrumb-item active">Settled Transactions
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="dataTables_wrapper dt-bootstrap4">
                    <table datatable [dtTrigger]="dtTrigger" class="table table-bordered table-hover dataTable dtr-inline">
                        <thead>
                          <tr>
                            <th>SL No.</th>
                            <th>Name</th>
                            <th>Mobile Number</th>
                            <th>Points Claimed</th>
                            <th>Amount</th>
                            <th>Payment Mode</th>
                            <th>Transaction ID</th>
                            <th>Remark</th>
                            <th>Claimed Date</th>
                            <th>Settled Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let element of transactionData; let i = index" class="table-row">
                            <td>{{i+1}}</td>
                            <td>{{element.NAME}}</td>
                            <td>{{ element.MOBILE_NUMBER }}</td>
                            <td>{{element.POINTS}}</td>
                            <td>{{element.AMOUNT}}  ₹</td>
                            <td>{{element.ACCOUNT_NUMBER == null ? 'Paytm' : 'Bank Account'}}</td>
                            <td>{{element.TRANSACTION_ID}}</td>
                            <td>{{element.REMARKS}}</td>
                            <td>{{ formatDate(element.TRNX_TS) }}</td>
                            <td>{{ formatDate(element.SETTLE_TS) }}</td>
                          </tr>     
                        </tbody>
                      </table>
                </div> 
                <div class="p-2" *ngIf="transactionData.length === 0">
                    <p class="m-0 text-center">No Data Found</p>
                </div>
            </div>
            <!-- /.card-body -->
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
