<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Carousel</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Configuration</a></li>
                    <li class="breadcrumb-item active">Home Carousel</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <form [formGroup]="carosuelForm" (ngSubmit)="addImageCarosuel()">
                <div class="card-header">
                    <h5>Home Carosuel</h5>
                </div>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col">
                            <label>Video URL</label>
                            <input formControlName="video_url" type="text" class="form-control" placeholder="Enter Video URL">
                        </div>
                        <div class="form-group col">
                            <label>Image</label>
                            <input (change)="selectCarosuelImage($event)" type="file" class="form-control" />
                            <p class="m-0 font-weight-bold" style="font-size:14px">Only jpg, jpeg and png file is allowed.</p>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button class="btn btn-primary">Add</button>
                </div>
            </form>
            <!-- /.card-footer-->
        </div>
    </div>

    <div class="container-fluid">
        <table class="table table-hover">
            <thead>
                <th>#</th>
                <th>Image</th>
                <th>Video URL</th>
                <th>Status</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let image of carosuelImages; let i = index">
                    <td>{{i+1}}</td>
                    <td>
                        <div style="height:100px; width: 100px;">
                            <img [src]="[URL+image.IMAGE_PATH]" style="height:100%; width:100%; object-fit: contain;" />
                        </div>
                    </td>
                    <td>
                        {{image.VIDEO_URL}}
                    </td>
                    <td>{{image.STATUS}}</td>
                    <td class="d-flex" style="justify-content:center">
                        <button class="btn btn-danger mr-2" (click)="openModal(deleteModal, image)">Delete</button>
                        <button class="btn btn-primary" (click)="openModal(visiblityModal, image)">Change Visiblity</button>
                    </td>
                </tr>
            </tbody>
        </table>    
    </div>
    <!-- /.card -->
</section>

<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h5>Confirmation</h5>
    </div>
    <div class="modal-body">
        <h5>Are you sure you want to delete?</h5>
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline-dark" (click)="modal.close()">Cancel</button>
        <button class="btn btn-danger" (click)="deleteCarosuel()">Delete</button>
    </div>
</ng-template>

<ng-template #visiblityModal let-modal>
    <form [formGroup]="editCarouselForm" (ngSubmit)="changeVisiblity()">
        <div class="modal-header">
            <h5>Change Carousel Visiblity</h5>
        </div>
        <div class="modal-body">
            <div class="form-row">
                <div class="form-group d-flex" style="align-items:center">
                    
                    <input type="radio" id="SHOW" (change)="changeSelectOption($event)"  name="visiblity" [checked]="element.STATUS == 'SHOW'" value="SHOW"/>
                    <label class="m-0 ml-2" for="SHOW">Show</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group d-flex" style="align-items:center">
                    <input type="radio" id="HIDE" (change)="changeSelectOption($event)" name="visiblity" [checked]="element.STATUS == 'HIDE'" value="HIDE"/>
                    <label class="m-0 ml-2" for="HIDE">Hide</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline-dark" (click)="modal.close()">Close</button>
            <button class="btn btn-success">Okay</button>
        </div>
    </form>
</ng-template>
<!-- /.content -->
